@import '../common';

.cowr {
  @extend %card;

  .cardContent {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 80%;
    margin-top: 2rem;
    transition: opacity .4s ease-in-out;
  }

  a {
    cursor: pointer;
    transition: all 0.4s;
    transition-delay: 0s;
  }

  img {
    @extend %cardImage;
  }

  h2 {
    @extend %cardHeader;
    transform: translate3d(0, 40px, 0) scale(0.7);
  }

  .coco {
    @extend %cardOverlay;
    transition: all .4s ease-in-out;
  }

  &:hover {
    background-color: black;

    img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
      filter: grayscale(1) blur(3px);
      transform: scale(1.2);
      opacity: 0.5;
    }

    h2, a.cardLink {
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translate3d(0, 0, 0);
    }

    a.cardLink {
      transition-delay: 0.3s;
    }

    .cardContent {
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
}
