@import '../common';

.prcw {
  @extend %card;

  img {
    @extend %cardImage;
    width: calc(100% + 60px);
    transition: all 0.55s, transform 0.45s;
    transform: translate3d(-40px, 0, 0);
  }

  h2 {
    @extend %cardHeader;
    background-color: transparent;
    transform: translate3d(-150%, -400%, 0);

  }

  .cardContent {
    width: 80%;
  }

  .pco {
    @extend %cardOverlay;
    width: 66%;
    height: 85%;
    left: 19%;
    top: 7%;
    border-radius: 80%;
    border: 2px solid #fff;
    justify-content: center;
    transform: translate3d(50%, 50%, 0);
  }

  &:hover {
    background-color: black;

    img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(0.6);
      transform: scale(1.4) translate3d(15%, 15%, 0);
    }

    .pco {
      background-color: rgba($black, 0.3);
    }

    a, p, h2, .pco {
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translate3d(0, 0, 0);
    }
  }
}
