@import '../common';

.prcw {
  @extend %card;

  img {
    @extend %cardImage;
  }

  h2 {
    @extend %cardHeader;
    background-color: transparent;
    transform: translate3d(-150%, -400%, 0);
  }

  .cardContent {
    width: 80%;
  }

  .pco {
    @extend %cardOverlay;
    width: 55%;
    height: 81%;
    left: 22%;
    top: 10%;
    border-radius: 80%;
    border: 2px solid #fff;
    transform: translate3d(50%, 50%, 0);
  }

  &:hover {
    background-color: black;

    img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(0.6);
    }

    .pco {
      background-color: rgba($black, 0.3);
    }

    a, p, h2, .pco {
      opacity: 1;
      filter: alpha(opacity=100);
      transform: translate3d(0, 0, 0);
    }
  }
}
